name: Build mod

on: [ push, pull_request ]

jobs:
  build:
    name: Build mod
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Validate gradle wrapper checksum
      uses: gradle/wrapper-validation-action@v1
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: |
          8
          17
        cache: 'gradle'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew --no-daemon build
    - name: Upload artifacts
      uses: actions/upload-artifact@v1
      with:
        name: aqua-acrobatics
        path: build/libs
